<!DOCTYPE html>
<html>
<head style="text-align: center;"><title>happy birthday notification</title></head>
<body style="text-align: center;">
  <h1>Get a happy birthday email on your birthday!</h1>
  <p>This way, if I forget to wish you a happy birthday, I still technically did.</p>
  <form method="POST">
    Email address: <input type="email" name="email" required><br>
    Date of Birth: <input type="date" name="dob" required><br>
    <br></br>
    <button type="submit">SUBMIT</button>
  </form>
</body>
</html>
