<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>happy birthday email</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Get a Happy Birthday email on your birthday!</h1>
    <p>My server will automatically send it to you on your birthday.
      <br><br>
      If you found your way here from the email, that means someone else signed up for you (likely me).
    </p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash-messages">
          {% for message in messages %}
            <div class="message">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

  <form action="{{ url_for('index') }}" method="post">  
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email Address</label>
      <input type="email" id="email" name="email" required />

      <label for="dob">Date of Birth</label>
      <input type="date" id="dob" name="dob" required />

      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
